@{
    ViewBag.Title = "Danh Mục";
}

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content padding-y">
    <div class="container">
        <nav class="row">
            <div class="col-md-3">
                <div class="card card-category">
                    <div class="img-wrap" style="background: #ffd7d7">
                        <img src="~/Content/images/items/1.jpg">
                    </div>
                    <div class="card-body">
                        <h4 class="card-title"><a href="#">Áo mùa hè</a></h4>
                        <ul class="list-menu">
                            <li><a href="">Áo thun unisex</a></li>
                            <li><a href="">Áo sơ mi thường ngày</a></li>
                            <li><a href="">Kem Scherf</a></li>
                            <li><a href="">Danh mục khác</a></li>
                            <li><a href="">Tên sản phẩm nổi bật</a></li>
                            <li><a href="">Tên sản phẩm nổi bật</a></li>
                        </ul>
                    </div>
                </div>
            </div> <!-- col.// -->
            <div class="col-md-3">
                <div class="card card-category">
                    <div class="img-wrap" style="background: #FFF68D">
                        <img src="~/Content/images/items/2.jpg">
                    </div>
                    <div class="card-body">
                        <h4 class="card-title"><a href="#">Áo khoác mùa đông</a></h4>
                        <ul class="list-menu">
                            <li><a href="">Áo khoác da</a></li>
                            <li><a href="">Áo khoác nam</a></li>
                            <li><a href="">Quần áo có pin sưởi</a></li>
                            <li><a href="">Áo khoác jeans</a></li>
                            <li><a href="">Tên sản phẩm nổi bật</a></li>
                        </ul>
                    </div>
                </div>
            </div> <!-- col.// -->
            <div class="col-md-3">
                <div class="card card-category">
                    <div class="img-wrap" style="background: #bcffb8">
                        <img src="~/Content/images/items/3.jpg">
                    </div>
                    <div class="card-body">
                        <h4 class="card-title"><a href="#">Quần shorts</a></h4>
                        <ul class="list-menu">
                            <li><a href="">Quần shorts jeans</a></li>
                            <li><a href="">Quần shorts bơi</a></li>
                            <li><a href="">Quần shorts khác</a></li>
                            <li><a href="">Danh mục khác</a></li>
                        </ul>
                    </div>
                </div>
            </div> <!-- col.// -->
            <div class="col-md-3">
                <div class="card card-category">
                    <div class="img-wrap" style="background: #c9fff3">
                        <img src="~/Content/images/items/4.jpg">
                    </div>
                    <div class="card-body">
                        <h4 class="card-title"><a href="#">Túi du lịch</a></h4>
                        <ul class="list-menu">
                            <li><a href="">Túi da</a></li>
                            <li><a href="">Lò nướng Cook & Hold</a></li>
                            <li><a href="">Kem Scherf</a></li>
                            <li><a href="">Danh mục khác</a></li>
                            <li><a href="">Tên sản phẩm nổi bật</a></li>
                        </ul>
                    </div>
                </div>
            </div> <!-- col.// -->
            <div class="col-md-3">
                <div class="card card-category">
                    <a href="#" class="img-wrap" style="background: #ddffeb">
                        <img src="~/Content/images/items/5.jpg">
                    </a>
                    <div class="card-body">
                        <h4 class="card-title"><a href="#">Sản phẩm nổi bật</a></h4>
                        <ul class="list-menu">
                            <li><a href="">Lò hấp hơi</a></li>
                            <li><a href="">Lò nướng Cook & Hold</a></li>
                            <li><a href="">Kem Scherf</a></li>
                            <li><a href="">Danh mục khác</a></li>
                            <li><a href="">Tên sản phẩm nổi bật</a></li>
                        </ul>
                    </div>
                </div>
            </div> <!-- col.// -->
            <div class="col-md-3">
                <div class="card card-category">
                    <a href="#" class="img-wrap" style="background: #dee4ff">
                        <img src="~/Content/images/items/6.jpg">
                    </a>
                    <div class="card-body">
                        <h4 class="card-title"><a href="#">Nội thất nhà bếp</a></h4>
                        <ul class="list-menu">
                            <li><a href="">Lò hấp hơi</a></li>
                            <li><a href="">Lò nướng Cook & Hold</a></li>
                            <li><a href="">Kem Scherf</a></li>
                            <li><a href="">Danh mục khác</a></li>
                            <li><a href="">Tên sản phẩm nổi bật</a></li>
                        </ul>
                    </div>
                </div>
            </div> <!-- col.// -->
            <div class="col-md-3">
                <div class="card card-category">
                    <a href="#" class="img-wrap" style="background: #ddffeb">
                        <img src="~/Content/images/items/2.jpg">
                    </a>
                    <div class="card-body">
                        <h4 class="card-title"><a href="#">Sản phẩm nổi bật</a></h4>
                        <ul class="list-menu">
                            <li><a href="">Lò hấp hơi</a></li>
                            <li><a href="">Lò nướng Cook & Hold</a></li>
                            <li><a href="">Kem Scherf</a></li>
                            <li><a href="">Danh mục khác</a></li>
                            <li><a href="">Tên sản phẩm nổi bật</a></li>
                        </ul>
                    </div>
                </div>
            </div> <!-- col.// -->
            <div class="col-md-3">
                <div class="card card-category">
                    <a href="#" class="img-wrap" style="background: #dee4ff">
                        <img src="~/Content/images/items/1.jpg">
                    </a>
                    <div class="card-body">
                        <h4 class="card-title"><a href="#">Trang phục khác</a></h4>
                        <ul class="list-menu">
                            <li><a href="">Quần shorts jeans</a></li>
                            <li><a href="">Lò nướng Cook & Hold</a></li>
                            <li><a href="">Kem Scherf</a></li>
                            <li><a href="">Danh mục khác</a></li>
                            <li><a href="">Tên sản phẩm nổi bật</a></li>
                        </ul>
                    </div>
                </div>
            </div> <!-- col.// -->
        </nav> <!-- row.// -->

    </div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->
